name: devcon_dev

x-postgres-credentials: &postgres-credentials
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres

secrets:
  OBAN_LICENSE_KEY:
    environment: OBAN_LICENSE_KEY

services:
  devcon:
    build:
      args:
        PROJECT_DIR: devcon
      dockerfile: ./Containerfile
      secrets:
        - OBAN_LICENSE_KEY
    command: sleep infinity
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      !!merge <<: *postgres-credentials
      OBAN_LICENSE_KEY: ${OBAN_LICENSE_KEY}
      PORT: 6000
      POSTGRES_HOST: postgres
    image: devcon:dev
    init: true
    volumes:
      - ..:/workspaces/devcon
      - assets_node_modules:/workspaces/devcon/assets/node_modules
      - build:/workspaces/devcon/_build
      - deps:/workspaces/devcon/deps

  postgres:
    environment:
      !!merge <<: *postgres-credentials
    image: postgres:18-alpine
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      start_period: 2s
      interval: 1s
      timeout: 1s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ..:/workspaces/devcon:ro

volumes:
  assets_node_modules:
  build:
  deps:
  pgdata:
